
::-webkit-scrollbar {
    display: none;
    }

body {
    background-color: #F2F1EF;
   
    

}

nav{
    
    color: #2C2929;
    font-size: 15px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 68px;
    padding-top: 20px;
    padding-bottom: 46px;
    text-decoration: none;
}


.name{
    font-family: 'Poppins', sans-serif;
    color: #2C2929;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 68px;
    padding-bottom: 46px;
    font-weight: 700;


}


.navbar{
    color: #2C2929;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-decoration: none;
}

.navbar:hover {

   color:#F79F79;
   text-decoration: none;
    font-weight: bold;
   

}


.button {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 180px;
height: 46px;
left: 1050px;
top: 33px;
background-color: #F79F79;
color: #FFFFFF;

font-size: 13px;
line-height: 21px;
font-weight: 700;
font-family: 'Poppins';
font-style: normal;
text-align: center;
flex: none;
order: 0;
flex-grow: 0;
padding-left: 20px;
padding-right: 0;

}


.containerHeader {

    position: absolute;
    width: 1000px;
    height: 688px;
    left: 0px;
    top: 120px;
    line-height: 0;
    padding-right: 0;
    

}


.header {
    display:flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 0px;

width: 684px;
height: 260px;


flex: none;
order: 0;
flex-grow: 0;

padding-top: 100px;
padding-left: 190px;
padding-bottom: 0px;
line-height: 0;


}


.titulo {
    width: 684px;
height: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 60px;
display: flex;
align-items: center;
color: #F79F79;
margin-bottom: 0;

}

.tituloRegular {
    width: 684px;
    height: 50px;
    
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 35px;
    line-height: 60px;
    color: #2C2929 ;
    margin-bottom: 5;
 


}



.subtitle { 

    width: 331px;
height: 72px;

    font-family: 'Poppins';
font-weight: 400;
font-size: 15px;
line-height: 24px;
margin-bottom: 0;


}

.image-container {
position: absolute;
width: 506px;
height: 50px;
left: 868px;
top: 74px;
border-bottom: 150;
}

.imgConsultorio {

    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
}

.containerRedes {
position: absolute;
width: 1000px;
height: 450px;
right: 0px;
left: 0px;
top: 650px;

}

.contentRedes {
    
position: absolute;
width: 147px;
height: 10px;
left: 597px;
top: 16px;


font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #F79F79;

}

.redes {
    display: flex;
flex-direction: row;
align-items: center;
padding: 16px 0px;
gap: 106px;

position: absolute;
width: 778px;
height: 67px;
left: 298px;
top: 56px;
right: 298px;

}

.ContainerBio {
position: absolute;
width: 1500px;
height: 700px;
left: 0px;
top: 270px;

}

.tituloBio {

position: absolute;
width: 376px;
height: 0px;
left: 171px;
top: 40px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 48px;

color: #2C2929;

}

.ParrafoBio {

position: absolute;
width: 497px;
height: 8px;
left: 736px;
top: 50px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: justify;

color: #2C2929;

}


.uba {

position: absolute;
width: 204px;
height: 102px;
left: 400px;
top: 450px;
 
 }

 .ctc {

position: absolute;
width: 178px;
height: 149px;
left: 700px;
top: 430px;

 }

 .containerTCC {

    position: absolute;
    width: 1000px;
    height: 0px;
    left: 0px;
    top: 900px;

 }

 .tituloTCC {

position: absolute;
width: 602px;
height: 48px;
left: 354px;
top: 87px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600px;
font-size: 28px;
line-height: 48px;
text-align: center;

color: #2C2929;

}

.subtitleTCC {

position: absolute;
width: 146px;
height: 48px;
left: 169px;
top: 177px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 48px;

color: #F79F79;

 }

 .parrafoTCC {

position: absolute;
width: 994px;
height: 120px;
left: 169px;
top: 254px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: justify;

color: #2C2929;


 }

 .subtitleTCC2 {

position: absolute;
width: 623px;
height: 48px;
left: 169px;
top: 403px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 48px;

color: #F79F79;

}



.containerTCC1 {

position: absolute;
width: 1057px;
height: 157px;
left: 166px;
top: 518px;

background: #2C2929; 
border-radius: 8px;

}


.cuadroTextTCC {

    position: absolute;
    width: 999px;
    height: 86px;
    left: 32px;
    top: 10px;
}

.titulo1y3 {

position: absolute;
width: 181px;
height: 10px;
left: 30px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

color: #F79F79; 

    }

.ParrafoTCC1y3 {

position: absolute;
width: 980px;
height: 48px;
left: 30px;
top: 38px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #F79F79;

}

.containerTCC2 {

    position: absolute;
    width: 1057px;
    height: 157px;
    left: -30px;
    top: 168px;
    
    background: #F79F79;
    border-radius: 8px;
}

.cuadroTextTCC {

    
    position: absolute;
    width: 999px;
    height: 86px;
    left: 32px;
    top: 10px;

}

.titulo1 {

    position: absolute;
    width: 181px;
    height: 10px;
    left: 30px;
    top: 0px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
    color: #F79F79;
    
}

.titulo2 {

    position: absolute;
width: 295px;
height: 30px;
left: 30px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

color: #2C2929;

}

.parrafoTCC2 {

    position: absolute;
width: 980px;
height: 48px;
left: 30px;
top: 38px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #2C2929;

}

.containerTCC3 {

    position: absolute;
width: 1057px;
height: 157px;
left: -30px;
top: 168px;

background: #2C2929; 
border-radius: 8px;

}

.titulo3 {
  

position: absolute;
width: 295px;
height: 30px;
left: 30px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

color: #F79F79;

}


.containerTCC4 {


position: absolute;
width: 1057px;
height: 157px;
left: -30px;
top: 168px;

background: #F79F79;
border-radius: 8px;

}

.titulo4 {

    position: absolute;
width: 382px;
height: 30px;
left: 30px;
top: 18px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;

color: #2C2929;

}

.parrafoTCC4 {

    position: absolute;
width: 980px;
height: 48px;
left: 30px;
top: 42px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #2C2929;

}

.ContainerTratamientos {

    position: absolute;
width: 1000px;
height: 0px;
left: 0px;
top: 170px;

}

.tituloWho {

    position: absolute;
width: 369px;
height: 0px;
left: 0px;
top: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 48px;

color: #F79F79;


}

.parrafoQuien {

    position: absolute;
    width: 1000px;
height: 1000px;
    left: 0px;
    top: 110px;

    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #2C2929;

}

.ContainerMotivos {

    position: absolute;

   padding: 0%;
    left: 25px;
    top: 550px;
    


}

.tituloMotivos {

    position: absolute;
width: 602px;
height: 0px;
left: 185px;
top: -350px;



font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

text-align: center;

color: #2C2929;

}

.cuadroMotivos {

 
    position: absolute;
    width: 1058px;
    height: 296px;
    left: -23px;
    top: -300px;


background: #DCDCDC; 


}


.primeraListaMotivos  {

display: flex;
flex-direction: column;
justify-content: space-between;
align-content: space-between;
position: absolute;
width: 300px;
height: 30px;
left: 50px;
top: 0px;
padding: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;

color: #2C2929;

}

.segundaListaMotivos {

    position: absolute;
width: 300px;
height: 30px;
left: 350px;
top: 0px;
padding: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;

color: #2C2929;

}


.terceraListaMotivos {

    position: absolute;
width: 240px;
height: 30px;
left: 760px;
top: 0px;
padding: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;

color: #2C2929;


}

.BeneficiosTCC {

    position: absolute;
    width: 1000px;
    height: 2000px;
    left: 0px;
    top: 350px;


}

.TituloBeneficios {

    position: absolute;
width: 758px;
height: 48px;
left: 183px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 48px;

color: #2C2929;


}

.CC {
    color: #F79F79;
}

.Beneficio1 {
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 512px;
height: 1000px;
left: 0px;
top: 150px;

}

.fotoBeneficio1 {

width: 512px;
height: 581px;


flex: none;
order: 0;
flex-grow: 0;

}

.textoBeneficio1 {

    width: 507px;
    height: 80px;

    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color:#2C2929; 

flex: none;
order: 1;
flex-grow: 0;




}

.TitulosBeneficios {

    width: 507px;
    height: 80px;

    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;

color:#F79F79; 

flex: none;
order: 1;
flex-grow: 0;


}

.Beneficio2 {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 512px;
height: 656px;
left: 550px;
top: 150px;

}

.fotoBeneficio2 {

    width: 512px;
height: 512px;

flex: none;
order: 0;
flex-grow: 0;

}

.textoBeneficio2 {

    width: 507px;
    height: 120px;

    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

flex: none;
order: 1;
flex-grow: 0;

}

.Beneficio3 {

    position: absolute;
width: 507px;
height: 578px;
left: 0px;
top: 950px;

}

.fotoBeneficio3 {

    position: absolute;
width: 507px;
height: 374px;
left: 0px;
top: 0px;

}

.textoBeneficio3 {

    position: absolute;
width: 507px;
height: 180px;
left: 6px;
top: 398px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #2C2929;

}

.Beneficio4 {

    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 509px;
height: 686px;
left: 550px;
top: -40px;

}

.fotoBeneficio4 {

    width: 512px;
height: 512px;

flex: none;
order: 0;
flex-grow: 0;

}

.textoBeneficio4 {

    width: 507px;
height: 150px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #2C2929;

flex: none;
order: 1;
flex-grow: 0;

}