

body {
    background-color: #F2F1EF;
   
}

nav{
    
    color: #2C2929;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 68px;
    padding-top: 20px;
    padding-bottom: 46px;

    }

.name{
    font-family: 'Poppins', sans-serif;
    color: #2C2929;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 68px;
    padding-bottom: 46px;
    font-weight: 700;


}

.navbar{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    

}

.button {
    display: flex;
flex-direction: row;
align-items: center;
padding: 3px;
gap: 10px;

position: absolute;
width: 190px;
height: 46px;
left: 1000px;
top: 30px;
background-color: #F79F79;
color: #FFFFFF;

font-size: 14px;
line-height: 21px;
font-weight: 700;
font-family: 'Poppins';
font-style: normal;
text-align: center;
flex: none;
order: 0;
flex-grow: 0;
padding-left: 20px;
padding-right: 0;

}


.containerHeader {

    position: absolute;
    width: 1440px;
    height: 688px;
    left: 0px;
    top: 120px;
    line-height: 0;
    padding-right: 0;
    

}


.header {
    display:flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 0px;

width: 684px;
height: 260px;


flex: none;
order: 0;
flex-grow: 0;

padding-top: 100px;
padding-left: 190px;
padding-bottom: 0px;
line-height: 0;


}


.titulo {
    width: 684px;
height: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
display: flex;
align-items: center;
color: #F79F79;
margin-bottom: 0;

}

.tituloRegular {
    width: 684px;
    height: 50px;
    
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #2C2929 ;
    margin-bottom: 5;
 


}



.subtitle { 

    width: 331px;
height: 72px;

    font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-bottom: 0;


}

.image-container {
position: absolute;
width: 506px;
height: 552px;
left: 934px;
top: 74px;
border-bottom: 150;
}

.imgConsultorio {

    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
}

.containerRedes {
position: absolute;
width: 1440px;
height: 150px;
left: 0px;
top: 700px;

}

.contentRedes {
    
position: absolute;
width: 147px;
height: 10px;
left: 647px;
top: 16px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #F79F79;

}

.redes {
    display: flex;
flex-direction: row;
align-items: center;
padding: 16px 0px;
gap: 106px;

position: absolute;
width: 778px;
height: 67px;
left: 342px;
top: 56px;

}

.containerBio {
position: absolute;
width: 1440px;
height: 700px;
left: 2px;
top: 350px;

}

.tituloBio {

position: absolute;
width: 376px;
height: 0px;
left: 191px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;

color: #2C2929;

}

.ParrafoBio {

position: absolute;
width: 497px;
height: 8px;
left: 746px;
top: 10px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: justify;

color: #2C2929;

}


.uba {

position: absolute;
width: 202px;
height: 108px;
left: 446px;
top: 522px;
 
 }

 .ctc {

position: absolute;
width: 178px;
height: 149px;
left: 815px;
top: 505px;

 }

 .containerTCC {

    position: absolute;
    width: 1440px;
    height: 1240px;
    left: 0px;
    top: 1116px;

 }

 .tituloTCC {

position: absolute;
width: 602px;
height: 48px;
left: 414px;
top: 87px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600px;
font-size: 32px;
line-height: 48px;
text-align: center;

color: #2C2929;

}

.subtitleTCC {

position: absolute;
width: 146px;
height: 48px;
left: 189px;
top: 177px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;

color: #F79F79;

 }

 .parrafoTCC {

position: absolute;
width: 994px;
height: 120px;
left: 189px;
top: 254px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: justify;

color: #2C2929;


 }

 .subtitleTCC2 {

position: absolute;
width: 623px;
height: 48px;
left: 189px;
top: 403px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;

color: #F79F79;

}



.containerTCC1 {

position: absolute;
width: 1057px;
height: 157px;
left: 166px;
top: 518px;

background: #2C2929; 
border-radius: 8px;

}

.cuadroTextTCC {

    position: absolute;
    width: 999px;
    height: 86px;
    left: 32px;
    top: 10px;
}

.titulo1y3 {

position: absolute;
width: 181px;
height: 10px;
left: 30px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

color: #F79F79; 

    }

.ParrafoTCC1y3 {

position: absolute;
width: 980px;
height: 48px;
left: 30px;
top: 38px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #F79F79;

}

.containerTCC2 {

    position: absolute;
    width: 1057px;
    height: 157px;
    left: -30px;
    top: 168px;
    
    background: #F79F79;
    border-radius: 8px;
}

.cuadroTextTCC {

    
    position: absolute;
    width: 999px;
    height: 86px;
    left: 32px;
    top: 10px;

}

.titulo1 {

    position: absolute;
    width: 181px;
    height: 10px;
    left: 30px;
    top: 0px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
    color: #F79F79;
    
}

.titulo2 {

    position: absolute;
width: 295px;
height: 30px;
left: 30px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

color: #2C2929;

}

.parrafoTCC2 {

    position: absolute;
width: 980px;
height: 48px;
left: 30px;
top: 38px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #2C2929;

}

.containerTCC3 {

    position: absolute;
width: 1057px;
height: 157px;
left: -30px;
top: 168px;

background: #2C2929; 
border-radius: 8px;

}

.titulo3 {
  

position: absolute;
width: 295px;
height: 30px;
left: 30px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

color: #F79F79;

}


.containerTCC4 {


position: absolute;
width: 1057px;
height: 157px;
left: -30px;
top: 168px;

background: #F79F79;
border-radius: 8px;

}

.titulo4 {

    position: absolute;
width: 382px;
height: 30px;
left: 30px;
top: 18px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;

color: #2C2929;

}

.parrafoTCC4 {

    position: absolute;
width: 980px;
height: 48px;
left: 30px;
top: 42px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #2C2929;

}